<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Effective Porosity (PHIE) Prediction</h1>
    <h5>Created by</h5>
    <h2>Gerald Darshan Mogi</h2>
    <h3>Geological Engineering Pertamina University</h3>
    <h4>NIM: 101218114</h4>
    
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="DEPTH" placeholder="DEPTH" required="required" />
        <input type="text" name="CALI" placeholder="CALI" required="required" />
		<input type="text" name="DT" placeholder="DT" required="required" />
        <input type="text" name="GR" placeholder="GR" required="required" />
        <input type="text" name="NPHI" placeholder="NPHI" required="required" />
        <input type="text" name="RHOB" placeholder="RHOB" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   <h1> {{ prediction_text }} </h1>

 </div>


</body>
</html>
